.size-box {
    width: 280px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    font-size: 1em;
    padding: calc(.375em - 1px) calc(.625em - 1px);
    outline: none;
  }

  
